In [37]:
import pandas as pd

In [ ]:
# Load the Excel file as an ExcelFile object
file_path = 'Online Retail.xlsx'
excel_data = pd.ExcelFile(file_path)

In [10]:
# Display sheet names
print(excel_data.sheet_names)

['Online Retail']

In [12]:
# Load the specific sheet into a DataFrame
data = excel_data.parse(sheet_name='Online Retail')

In [13]:
# Perform operations on the DataFrame
data['Revenue'] = data['Quantity'] * data['UnitPrice']

In [16]:
# Display the first few rows of the dataset to understand its structure and contents
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [18]:
#.The dataset includes the following key columns:

#.InvoiceNo: Transaction identifier.
#.StockCode: Product identifier.
#.Description: Product description.
#.Quantity: Units of the product purchased.
#.InvoiceDate: Date and time of the transaction.
#.UnitPrice: Price per unit of the product.
#.CustomerID: Identifier for the customer.
#.Country: Country of the customer.

In [22]:
# display the revenue
data['Revenue']

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Revenue, Length: 541909, dtype: float64

In [60]:
# Filter the data to include only rows where the 'Country' is 'United Kingdom'
uk_data = data[data['Country'] == 'United Kingdom']

# Display the filtered data
print(uk_data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541889    581585     22466       FAIRY TALE COTTAGE NIGHT LIGHT        12
541890    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY         8
541891    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK        24
541892    581586     21217        RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685                DOORMAT RED RETROSPOT        10

               InvoiceDate  UnitPrice  CustomerID         Country  Revenue
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom    15.30
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom    22.00
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
...                    ...        ...         ...             ...      ...
541889 2011-12-09 12:31:00       1.95     15804.0  United Kingdom    23.40
541890 2011-12-09 12:49:00       2.95     13113.0  United Kingdom    23.60
541891 2011-12-09 12:49:00       1.25     13113.0  United Kingdom    30.00
541892 2011-12-09 12:49:00       8.95     13113.0  United Kingdom   214.80
541893 2011-12-09 12:49:00       7.08     13113.0  United Kingdom    70.80

[486284 rows x 9 columns]

In [26]:
print(data.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Revenue'],
      dtype='object')

In [28]:
# Perform any desired analysis or operations on the DataFrame
revenue_summary = data.groupby('Country')['Revenue'].sum().sort_values(ascending=False)
top_products = data.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(5)
customer_revenue = data.groupby('CustomerID')['Revenue'].sum().sort_values(ascending=False).head(5)

In [30]:
# Display insights
revenue_summary.head(), top_products, customer_revenue

(Country
 United Kingdom    8187806.364
 Netherlands        284661.540
 EIRE               263276.820
 Germany            221698.210
 France             197403.900
 Name: Revenue, dtype: float64,
 Description
 WORLD WAR 2 GLIDERS ASSTD DESIGNS    53847
 JUMBO BAG RED RETROSPOT              47363
 ASSORTED COLOUR BIRD ORNAMENT        36381
 POPCORN HOLDER                       36334
 PACK OF 72 RETROSPOT CAKE CASES      36039
 Name: Quantity, dtype: int64,
 CustomerID
 14646.0    279489.02
 18102.0    256438.49
 17450.0    187482.17
 14911.0    132572.62
 12415.0    123725.45
 Name: Revenue, dtype: float64)

In [32]:
#.To view a summary of UK-specific data (e.g., total revenue)
uk_total_revenue = uk_data['Revenue'].sum()
print("Total Revenue for United Kingdom:", uk_total_revenue)

Total Revenue for United Kingdom: 8187806.364000001

In [71]:
#To export UK data to a new file
uk_data.to_excel('UK_Data.xlsx', index=False)

In [73]:
# Add Revenue Column
data['Revenue'] = data['Quantity'] * data['UnitPrice']

In [78]:
data.head(100000)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
102099,544968,85123A,WHITE HANGING HEART T-LIGHT HOLDER,18,2011-02-25 11:30:00,2.95,13458.0,United Kingdom,53.10
102100,544968,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-02-25 11:30:00,0.42,13458.0,United Kingdom,10.08
102101,544968,21155,RED RETROSPOT PEG BAG,6,2011-02-25 11:30:00,2.55,13458.0,United Kingdom,15.30
102102,544968,84509A,SET OF 4 ENGLISH ROSE PLACEMATS,8,2011-02-25 11:30:00,3.75,13458.0,United Kingdom,30.00
102103,544968,84510A,SET OF 4 ENGLISH ROSE COASTERS,10,2011-02-25 11:30:00,1.25,13458.0,United Kingdom,12.50

In [83]:
# Save the UK data to an Excel file
uk_data_file_path = 'UK_Data.xlsx'
uk_data.to_excel(uk_data_file_path, index=False)

In [84]:
# File is now saved and can be downloaded from the specified path
print(f"The file is saved at: {uk_data_file_path}")

The file is saved at: UK_Data.xlsx

In [87]:
# Data Cleaning: Exclude negative quantities and unit prices
data = data[(data['Quantity'] >= 1) & (data['UnitPrice'] >= 0)]

In [91]:
# Save cleaned data to Excel
data.to_excel('Cleaned_Online_Retail.xlsx', index=False)

In [93]:
# Display sheet names
print(data.to_excel)

<bound method NDFrame.to_excel of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  Revenue
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom    15.30
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom    22.00
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
...                    ...        ...         ...             ...      ...
541904 2011-12-09 12:50:00       0.85     12680.0          France    10.20
541905 2011-12-09 12:50:00       2.10     12680.0          France    12.60
541906 2011-12-09 12:50:00       4.15     12680.0          France    16.60
541907 2011-12-09 12:50:00       4.15     12680.0          France    16.60
541908 2011-12-09 12:50:00       4.95     12680.0          France    14.85

[531283 rows x 9 columns]>